.App {
  margin: auto;
  justify-content: center;
  text-align:center;
  width:350px;
  height:500px;
  border: 5px;
  position:relative;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgb(199, 245, 137);
}

.cross{
  color:red;
}
#inputTodo{
  height:50px;
  margin-right: 25px;;
}
#submitButton{
  width:100px;
  height:25px;
}
